body{

    margin: 0%;
    padding: 0%;
    
    


}


.head{

width: 100vw;
height: 20vh;
background-image: linear-gradient(to right ,#00A778,#62B264);


}

.sider{

width: 100%;
height: 80vh;
background-color: cadetblue;
 display: flex;


}
.sidleft{

margin-left: 0%;
width: 30%;
height: 100%;
background-color: #EFEFEF;


}
.sidright{
width: 100%;
height: 100%;
background-color: hsla(0, 44%, 93%, 0.801);




}

.head ul {
    list-style-type: none;
    margin-top: 3%;
    padding: 0;
    margin-left:20%;
    overflow: hidden;
    
  }

  .head li {
    float: left;
  }
  
  .head li a {
    display: block;
    color: rgb(12, 11, 11);
    text-align: center;
    font-size: x-large;
    font-style: Source Sans 3;
    padding: 35px;
    text-decoration: none;
  }
  
  .head li a:hover {
    background-color:  rgb(107, 209, 149);
    

  }

.head{

display: flex;

}

.head img{
    position: absolute;

margin-left: 10%;
margin-top: 2%;


}
.profile{

width: 100%;
height: 15%;

display: flex;

}

.profile img{
 
    width: 80px;
    height: 80px;
    margin-top: 3%;
    margin-left: 5%;
    border-radius: 50%;
    background-color: #62B264;

}

.profile p{

    font-size: x-large;
    font-style: italic;
    margin-top: 7%;
    margin-left: 7%;

}

.profile  div{

    width: 20px;
    margin-top: 15%;
    margin-left: -7%;
    height: 20px;
    border-radius: 50%;
    background-color: #1c361b;

}

.function{

width: 90%;
height: 12%;
margin-top: 5%;
margin-left: 5%;
border: 2px solid rgb(103, 206, 144);
border-radius: 10px;
display: flex;

}

.function:hover {
    background-color:  rgb(103, 206, 144);
    

  }

  .c{
  font-size: x-large;
  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(5, 5, 5);
  margin-left: 5%;

  }

  .function img{
    
   width: 45px;
    height: 45px;
    margin-left: 40%;
    margin-top: 8%;
    color: black;

  }

  .a{

 font-size: 25px;
 margin-left: 5%;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 color: rgb(5, 5, 5);

  }

  .up{

    width: 100%;
    height: 40%;
    
    display: flex;
    
  }

  .dwon{

    width: 100%;
    height: 60%;
    
    display: flex;
  }

  .up div{
    width: 40%;
    height: 60%;
    margin-left: 7%;
    margin-top: 4%;
    border-radius: 10px;
    
    background-image:linear-gradient(to right,#ED4264,#FB8766) ;


  }

  .pa{
    
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin-left: 10%;
  
  }
  .pb{
   
    font-size: 38px;
    margin-top: 5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    margin-left: 40%;


  }

  .dia{
  
    width: 40%;
    height: 80%;
    
    
    margin-left: 7%;
    margin-top: 4%;
    border-radius: 10px;
  


  }
  .stra{
    width: 600px;;
    height: 350px;
    margin-top: -2%;
    margin-left: 2%;
   

  }

  .pro{
   margin-left: 7%;
   margin-top: 4%;


  }

  