.rest{
    background-color: #ffffff;
    box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
    margin-left: 270px;
    height: fit-content;
    width: calc(100% - 270px);
    border-radius: 25px 0 0 0;
    position: fixed;
    overflow-y: auto;
    height: 100%;
}
#item6{
    background-color: #00a778;
    border-radius: 0 50px 50px 0;
    width: 90%;
}
.data-form{
    width: 90%;
    background-color: #efefef;
    margin: 20px auto 120px auto;
    border-radius: 10px;
}
.data-form h3{
    text-align: center ;
    font-weight: 400;
    padding-top: 20px;
    margin-bottom: 10px;
}
.data-form form .input-box{
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}
.data-form form .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    transition: all 0.3s ease;
    width: 100%;
    outline: none;
    background-color: white;
    border: none;
} 
.data-form form .input-box .details {
    display: block;
    font-weight: 600;
    font-size: 18px;
}
.data-form form .input-box textarea{
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px 10px;
    resize: none;
    height: 130px;
}
.data-form form  .input-box select{
    height: 45px;
    width: 50%;
    font-size: 16px;
    border-radius: 10px;
    padding-left: 15px;
    transition: all 0.3s ease;
    background-color: #fff;
    border: none;
}
input::placeholder{
    color: black;
}
textarea::placeholder {
    color:black
}
.data-form form  .input-box select:focus{
    outline: none;
}
.image-upload .image-button img{
    width: 20px;
    margin-right: 20px;  
}
.image-upload {
    background-color: #fff;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}
.image-upload .image-button{
    background-color: #00a778;
    width: 200px;
    padding: 10px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 10px;
    color: #fff;
}
.image-upload .image-button input{
    display: none;
}
.image-upload .image-button .label-of-image label{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#images{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}
figure{
    margin-bottom: 10px;
}
#images img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
figcaption{
    text-align: center;
    font-size: 2vmin;
    margin-top: 0.5vmin;
}
.image-upload .upload-images{
    display: flex;
    justify-content: center;
    align-items: center;
}
.data-form form .buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 20px;
}
.data-form form .buttons .submit-btn input{
    background-color: #fff;
    width: 180px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    border: 2px solid #00a778;
    color: #00a778;
}
.data-form form .buttons .submit-btn input:hover{
    background-color: #00a778;
    color: #fff;
    transition: all .2s ease-in-out;
    transform: scale(0.95);
}
.data-form form .buttons .cancele-btn input{
    background-color: #fff;
    width: 180px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    border: 2px solid red;
    color: red;
}
.data-form form .buttons .cancele-btn input:hover{
    background-color: red;
    color: #fff;
    transition: all .2s ease-in-out;
    transform: scale(0.95);
}
.input-box #invalid {
    border: 1px solid red;
}
.input-box .error span{
    color: red;
    font-size: 12px;
}
@media (max-width: 768px){
    #images img{
        width: 120px;
        height: 120px;
    }
    .data-form form .input-box textarea{
        height: 200px;
    }
    .data-form form  .input-box select{
        width: 70%;
    }
}
@media (max-width: 480px){
    #item6{
        width: 55px;
    }
    .data-form h3{
        font-size: 15px;
    }
    .data-form form .input-box .details {
        display: block;
        font-weight: 600;
        font-size: 15px;
    }
    .data-form form .input-box input{
        font-size: 14px;
    } 
    .data-form form .input-box textarea{
        font-size: 14px;
        height: 250px;
    }
    .data-form form  .input-box select{
        width: 100%;
        font-size: 14px;
    }
    .image-upload .image-button img{
        width: 15px;
        margin-right: 10px;
    }
    .image-upload .image-button .label-of-image label{
        font-size: 14px;
    }
    .image-upload .image-button{
        width: 150px;
        margin-left: 10px;
    }
    .data-form form .buttons .submit-btn input{
        width: 150px;
    }
    .data-form form .buttons .cancele-btn input{
        width: 150px;
    }
    #images img{
        width: 100px;
        height: 100px;
    }
}