@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    widows: 100%;
    background-color: #3BB78F ;
    position: relative;
    display: flex;
}

#side .items li:nth-child(1) {
    background-color: #3BB78F;
    border-radius: 0 50px 50px 0;
    width: 90%;
}
#rest{
    background-color: #efefef;
    margin-top: 80px;
    margin-left: 22%;
    max-height: 100%;
    width: 78%;
    border-radius: 25px 0 0 0;
    overflow-y: scroll;
}
.order-details{
    padding: 30px 30px 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.order-details .valbox{
    width: 250px;
    height: 100px;
    margin-bottom: 20px;
    padding: 16px 20px;
    border-radius: 10px;
    display: flex;
    background-color: #efefef;
    box-shadow: 0 10px 20px -10px #00a778;
}
.order-details .valbox:hover{
    transition: all .05s ease-in-out;
    transform: scale(1.1); 
}
.order-details #d3:hover{
    transition: all .05s ease-in-out;
    transform: scale(1.1);
    border: 2px solid red;
}
.order-details .valbox img{
    width: 50px;
    margin-right: 20px;
}
.order-details .valbox h3{
    font-size: 18px;
    font-weight: 600;
}
.order-details .valbox span{
    font-size: 18px;
}
h2{
    margin: 30px 0 -10px 30px;
    font-weight: 400;
    font-size: 18px;
}
.not-complete-orders{
    width: 60%;
    margin: 20px 15px;
}
.not-complete-orders table thead{
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}
.not-complete-orders table thead tr th{
    font-size: 14px;
}
.not-complete-orders table{
    border-collapse: collapse;
    width: 90%;
    margin: 30px auto 20px auto;
}
.not-complete-orders table td, .not-complete-orders table th{
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
}
.not-complete-orders table th{
    background-color: #00a778;
    color: #fff;
}
.not-complete-orders table tbody tr:nth-child(even){
    background-color: #fff;
}
#d3 h3, #d3 span{
    color: red;
    font-weight: 600;
}
