#interface{
    width: calc(100%-300px);

}
#interface .navbar{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0;
    margin-right: 10px;
    width: 100%;
}
#interface .navbar .menu{
    position: relative;
    left: 25%;
}
#interface .navbar .menu img{
    width: 30px;
}
#interface .navbar .profile img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}
#interface .navbar .profile #logout{
    width: 30px;
    height: 30px;
    object-fit: cover;
}
#interface .navbar .profile{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 0;
}
#interface .navbar .profile h3{
    margin-right: 20px;
    font-weight: 500;
    font-size: 18px;
}