#interface{
    width: calc(100%-300px);

}
#interface .navbar{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0;
    margin-right: 20px;
}
#interface .navbar .logout{
    margin-right: 40px;
}
#interface .navbar .logout a{
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#interface .navbar .profile img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 30px;
}
#interface .navbar .profile{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 0;
}
#interface .navbar .profile h3{
    margin-right: 10px;
    font-weight: 500;
    font-size: 18px;
}