.rest{
    background-color: #ffffff;
    box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
    margin-left: 270px;
    height: fit-content;
    width: calc(100% - 270px);
    border-radius: 25px 0 0 0;
    position: fixed;
    overflow-y: auto;
    height: 100%;
}
#item4{
    background-color: #00a778;
    border-radius: 0 50px 50px 0;
    width: 90%;
}
.filter-options{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
}
.filter-options .btn{
    width: 220px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    /* margin: 0 50px 0 0; */
}
.filter-options .btn a{
    text-decoration: none;
}
.filter-options #btn2{
    border: #00a778 solid 5px;  
}
.filter-options #btn1{
    padding-top: 15px;
}
.filter-options #btn2 a{
    color: #00a778;
    font-size: 16px;
} 
.filter-options #btn1 a{
    color: #000;
    font-size: 16px;
}
.filter-options #btn1:hover{
    transform: scale(0.95);
    background: #00a778;
    transition: all .3s ease-in-out;
}
.filter-options #btn1:hover a{
    color: white;

}
.filter-options #btn2:hover{
    transform: scale(0.95);
    transition: all .3s ease-in-out;
}
.filter-options select{
    padding: 10px;
    font-size: 18px;
    color: #000;
    height: 55px;
    /* border: thin solid #a47c34; */
    background-color: #fff;
    border-radius: 10px;
    border: none;
    width: 220px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);

}
select:focus{
    outline: none;
}
.other-progress-wrapper{
    margin-bottom: 100px;
}
.other-progress-card{
    box-shadow: 0 20px 30px -20px #000000;
}
.other-progress-card:hover {
    transition: all .05s ease-in-out;
    transform: translateY(-5px);
    box-shadow: 0 20px 30px -20px #00a778;
}
.other-progress-card .part1{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}
.other-progress-card .part1 img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 20px;
}
.other-progress-card .part1 .date{
    margin-top: 20px;
}
.other-progress-card{
    width: 90%;
    margin: 20px auto 0 auto ;
    background-color: #fff;
    border-radius: 10px;
}
.other-progress-card h3{
    text-align: center;
    margin-bottom: 10px;
}
.other-progress-card .content p{
    margin-left: 20px;
    margin-right: 20px;
}
.other-progress-card .last{
    display: flex;
    justify-content: center;
    align-items: center;
}
.other-progress-card .last .images{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px auto;
    width:90%;
    padding: 15px;
    background-color: #efefef;
    border-radius: 10px;
    gap: 10px;
}
.other-progress-card .last .images img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}
.empty_record{
    margin-top: 60px;
}
.empty_record h2{
    text-align: center;
    font-weight: 500;
}




