.rest{
    background-color: rgba(239, 239, 239, 0.75);
    margin-top: 100px;
    margin-left: 270px;
    height: fit-content;
    width: calc(100% - 270px);
    border-radius: 25px 0 0 0;
    position: fixed;
    overflow-y: auto;
    height: 100%;
}
#item6{
    background-color: #6ffb60;
    border-radius: 0 50px 50px 0;
    width: 90%;
}
.problem-filter{
    margin: 20px auto 0 50px;

}
.problem-filter select{
    padding: 10px 35px;
    font-size: 18px;
    color: #000;
    height: 55px;

    /* border: thin solid #a47c34; */
    background-color: #fff;
    border-radius: 10px;
    border: none;
}
.problem-filter select:focus{
    outline: none;
}
.problem-add{
    width: 60%;
    height: 80px;
    background-color: #efefef;
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.problem-add .border{
    width: 580px;
    height: 60px;
    border: #00a778 dashed 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.problem-add .border:hover{
    background-color: #00a778;
    /* transition: ease-in-out; */

}
.problem-add .border a{
    color: #000;
    text-decoration: none;
}
.problem-add .border:hover a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}
.problem-wraper{
    margin-bottom: 120px;
}
.problem-card{
    width: 90%;
    margin: 20px auto 10px auto ;
    background-color: #fff;
    border-radius: 10px;
}
.problem-card:hover{
    transition: all .05s ease-in-out;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px -10px #00a778;
}
.problem .user-info{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0px 0 0 20px;
}
.problem .user-info .photo img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 20px;
}
.problem .user-info .name-date-time{
    margin-top: 20px;
}
.problem-card .problem h3{
    text-align: center;
}
.problem .problem-content{
    margin: 10px 15px;
}
.problem-card .problem a{
    text-decoration: none;
    margin-left: 20px;
    display: flex;
    color: black;
    width: 100px;
}
.problem-card .problem a:hover{
    transition: all .05s ease-in-out;
    transform: scale(0.99);
    color: #00A778;
}
.problem-card .problem .problem-image{
    width: 90%;
    padding: 20px;
    background-color: #efefef;
    margin: 10px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.problem-card .problem .problem-image img{
    width: 120px;
}
.problem a{
    width: 100px;
}
.problem a:hover .reply-link #green{
    display: block;
}
.problem a:hover .reply-link img{
    display: none;
}
.reply-link{
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}
.reply-link img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: 10px;
}
.reply-link span{
    margin-top: 12px;
    font-size: 14px;
}
.reply-link #green{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: 10px;
    display: none;
}
/* .reply{
    background-color: #efefef;
    width: 85%;
    margin: 0 0 10px 10% ;
    border-radius: 10px;

}
.reply .user-info{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0px 0 0 20px;
}
.reply .user-info .photo img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 20px;
}
.reply .user-info .name-date-time{
    margin-top: 20px;
}
.reply .reply-content{
    margin: 10px 10px;
} */

.data-form{
    display: none;
}
.allert{
    background-color: lightgreen;
    border: 2px solid green;
    margin: 10px auto;
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center ;
    border-radius: 10px;
}
.allert p{
    font-size: 15px;
}
@media (max-width: 480px){
    #item6{
        width: 55px;
    }
}