@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    width: 100%;
    background: linear-gradient(249deg, #0BAB64 2.62%, #3BB78F 96.66%);
    position: relative;
    display: flex;
}

#side .items li:nth-child(8) {
    background-color: #3BB78F;
    border-radius: 0 50px 50px 0;
    width: 90%;
}
#rest{
    background-color: rgba(239, 239, 239, 0.65);
    margin-top: 80px;
    margin-left: 22%;
    max-height: 100%;
    width: 78%;
    border-radius: 25px 0 0 0;
    overflow-y: scroll;
}
.problem-filter{
    margin: 20px auto 0 50px;

}
.problem-filter select{
    padding: 10px 35px;
    font-size: 18px;
    color: #000;
    height: 55px;

    /* border: thin solid #a47c34; */
    background-color: #fff;
    border-radius: 10px;
    border: none;
}
.problem-filter select:focus{
    outline: none;
}
.problem-add{
    width: 60%;
    height: 80px;
    background-color: #efefef;
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.problem-add .border{
    width: 580px;
    height: 60px;
    border: #00a778 dashed 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.problem-add .border:hover{
    background-color: #00a778;
    /* transition: ease-in-out; */

}
.problem-add .border a{
    color: #000;
    text-decoration: none;
}
.problem-add .border:hover a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}
.problem-card{
    width: 90%;
    margin: 20px auto 10px auto ;
    background-color: #fff;
    border-radius: 10px;
}
.problem-card:hover{
    transition: all .05s ease-in-out;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px -10px #00a778;
}
.problem .user-info{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0px 0 0 20px;
}
.problem .user-info .photo img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 20px;
}
.problem .user-info .name-date-time{
    margin-top: 20px;
}
.problem-card .problem h3{
    text-align: center;
}
.problem .problem-content{
    margin: 10px 15px;
}
.problem-card .problem a{
    text-decoration: none;
    margin-left: 20px;
    display: flex;
    color: black;
    width: 100px;
}
.problem-card .problem a:hover{
    transition: all .05s ease-in-out;
    transform: scale(0.99);
    color: #00A778;
}
.problem-card .problem .problem-image{
    width: 90%;
    padding: 20px;
    background-color: #efefef;
    margin: 10px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.problem-card .problem .problem-image img{
    width: 120px;
}
.reply{
    background-color: #efefef;
    width: 85%;
    margin: 0 0 10px 10% ;
    border-radius: 10px;

}
.reply .user-info{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0px 0 0 20px;
}
.reply .user-info .photo img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 20px;
}
.reply .user-info .name-date-time{
    margin-top: 20px;
}
.reply .reply-content{
    margin: 10px 10px;
}
.allert{
    background-color: lightgreen;
    border: 2px solid green;
    margin: 10px auto;
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center ;
    border-radius: 10px;
}
.allert p{
    font-size: 15px;
}
