body{
    font-family: 'Work Sans';
    background-color: #efefef;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar{
    display: none;
}
/*nav bar styling*/
.contener{
    width: 100%;
    height: 100%;
    /* background-color: aquamarine; */
}
.contener-2{
    width: 90%;
    height: 81%;
    margin-left: 4.1rem;
    margin-top: 1rem;
    display: flex;
    
/*     
    background-color: aqua; */
}
.contener-2>.imge-1{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* background-color: black; */
}
.contener-2>.from{
    height: 100%;
    width: 70%;
    border-radius: 15px;
    /* background-color: blue; */
    box-shadow: 0 18px 15px 0 rgba(234, 143, 143, 0.06), 0 2px 0 0 rgba(0, 0, 0, 0.02);
    background-color: #C4EDC9;
}
.contener-2>.imge-2{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* background-color: brown; */
}
.imge-1>.pic-1{
    width: 200px;
    height: 400px;
    margin-top: 4rem;
    /* background-color: rgb(3, 13, 13); */
}
.imge-2>.pic-2{
    width: 200px;
    height: 400px;
   
    margin-top: 4rem;
    /* background-color: rgb(3, 13, 13); */

}
/* start from data filed style */
.from>.hedar{
    width: 100%;
    height: 10%;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    background-color: #C4EDC9;
   
}
.hedar span{
    margin-top: 1rem;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.from>.from-div{
    width: 90%;
    height: 87%;
    margin-top: .5rem;
    margin-left: 2.5rem;
    /* background-color: #efefef; */
    box-shadow: 0 18px 15px 0 rgba(234, 143, 143, 0.06), 0 2px 0 0 rgba(0, 0, 0, 0.02);
    background-color: #C4EDC9;
    overflow-y: auto;
}
.input-box>.type-input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    transition: all 0.3s ease;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .40);
    background-color: white;
    border: none;
}
.input-box>.error span{
    color: red;
    font-size: 15px;
    font-family:calibri;
}
.input-box span{
    font-size: 20px;
    font-weight: 500;
    font-family:calibri;
}

.button{
    height: 45px;
    margin:0 auto;
}
.type-button{
    width: 250px;
    height: 45px;
    margin-top: 2rem;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #00a778;
}
.type-button:hover{
    background: #19f54c;
}

.cancel{
    height: 45px;
    margin:0 auto;
}
.cancel-data{
    width: 250px;
    height: 45px;
    margin-top: 2rem;
    margin-left: 1rem;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #00a778;
}
.cancel-data label{
    margin-top: 12px;
    font-size: 20px;
}
 a{
    text-decoration: none;
}

.cancel-data:hover{
    background: #19f54c;
}
.but{
    height: 95px;
    width:100%;
    display: flex;
    justify-content: space-between;
   
} 
