@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #efefef;
}
.login-page-navbar{
    background: linear-gradient(90deg, rgba(118, 75, 162, 0.95) 0%, rgba(102, 126, 234, 0.95) 100%);
    overflow: hidden;
    border-radius: 0 0 20px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 15%;
}
.login-page-navbar .logo{
    margin-left: 5%;
}
.signup-page-container{
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    height: 85%;
}
.signup-page-container .form-content h1{
    font-weight: 600;
    font-size: 18px;
    margin: 40px auto -40px auto;
    text-align: center;
}
.form-content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0 12px 0;
    background-image: linear-gradient(rgba(255,255,255,0.85), rgba(255,255,255,0.85)), url("./images/bck1.jpg");
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;  
}
.form-content form .user-details .input-box #invalid{
    border: 1px solid red;
}
.form-content form .user-details .input-box .error span,
.form-content form .user-details .policy .error span{
    color: red;
    font-size: 12px;
}
.form-content form .user-details .input-box{
    margin-bottom: 5px;
    width: calc(100% / 2 - 20px);
}
.form-content form .user-details .policy{
    margin-bottom: 15px;
    margin-top: 25px;
    width: calc(100% / 2 - 20px);
}
.form-content form .user-details .policy a{
    text-decoration: none;
}
.form-content form .user-details .policy label{
    margin-left: 10px;
}
.form-content form .user-details .policy .check{
    width:17px;
    height: 17px;
}
.form-content form .user-details .input-box span .details{
    display: block;
    font-weight: 500;
}
.form-content form .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    transition: all 0.3s ease;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .40);
    background-color: white;
    border: none;
} 
.form-content form .user-details .input-box input:focus,
.form-content form  .user-details .input-box input:valid{
    border-color: #000000;
}
.form-content form .button{
    height: 45px;
    margin:0 auto;
    
}
form .button input{
    width: 250px;
    height: 45px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #00a778;
}
.form-content form .button input:hover{
    /* transform: scale(0.99); */
    background: #19f54c;
}
@media(max-width: 600px){
    .signup-page-container{
        max-width: 100%;
    }
    .form-content form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .category{
        width: 100%;
    }
    .form-content form .user-details{
        max-height: 90%;
        overflow-y: scroll;
    }
    .form-content form .user-details::-webkit-scrollbar{
        width: 5px;
    }
    .form-content form .user-details .policy{
        width: 100%;
    }
    .imge{
        margin-top: 0;
    }    
}
@media(max-width: 400px){
    .form-content form .user-details .user-details .input-box input{
        height: 35px;
        font-size: 13px;
    }
}
